<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal">

    <link rel="stylesheet" href="{{ url_for('static', filename='habitPage.css') }}" />
    <title> Habit Tracker: New Habit</title>
</head>

<body>
    <h1> Habit Tracker</h1>
    <p id="hello"> <em> Please fill out this form about the habit!</em></p>

    <form method="POST" action="">
        <form action="/submit" method="POST">
            <p class="star"> What do you want to name your habit? </p>
            <label for="habit">Habit:</label>
            <input type="text" id="habit" name="habit" required><br><br>

            <p class="star"> Please include a description of your habit! </p>
            <label for="habit_description">Description of Habit:</label><br>
            <textarea id="habit_description" name="habit_description" rows="3" cols="55" required></textarea><br><br>

            <p class="star"> How many times a week do you want to practice this habit</p>
            <label for="frequency">Frequency:</label>
            <input type="text" id="frequency" name="frequency" required><br><br>

            <p class="star"> What is the difficulty level on a scale of 1-3. 1 is easy, 2 is a little difficult, 3 is
                hard.</p>
            <label for="difficulty">Difficulty:</label>
            <input type="text" id="difficulty" name="difficulty" required><br><br>

            <p class="star"> Please include your full email address! </p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>


            <input type="submit" value="Submit">
        </form>
</body>

</html>