<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeFile.css') }}" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal">

    <title> Habit Tracker Website! </title>

</head>

<body>
    <h1> Habit Tracker </h1>

    <div class=" navbar">
        <ul>
            <li>
                <!--
                <a href="register.html"> <button> Sign Up! </button> </a>
                <a href="login.html"> <button> Login !</button> </a>

               -->
                <a href="{{url_for('login')}}"> <button> Login Page! </button></a><br>

                <a href="{{url_for('register')}}"> <button> Sign Up Page! </button></a><br>


            </li>
        </ul>

    </div>
    <h2 class="firstP"> Welcome to the Habit Tracker Website! </h2>
    <div class="intro">


        <p class="firstP"> This website was made to help you track your habits! Just document the habit you want to
            develop
            and we will help you track your process. The website will send you notifcations/emails as a reminder to get
            your task done. We also have a built in timer if you want to do you task on the website! Sign up for free
            and provide us with the details of your task! </p>
        <div class="navigation">
            < <a href="{{url_for('login')}}"> <button> Login Page! </button></a><br>

                <a href="{{url_for('register')}}"> <button> Sign Up Page! </button></a><br>


                <a href="{{url_for('habitPage')}}"> <button> Habit Page! </button></a><br>

        </div>


    </div>

</body>

</html>