<!DOCTYPE html>
<!-- Old home page! Don't use unless you need to reference anything-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal">
    <title> Home </title>
</head>

<body>
    <h1> Login Authenication System in Flask.</h1>
    <a herf=" {{url_for('login')}}"> Login Page</a><br>
    <a herf="{{url_for('register')}}"> Register Page</a><br>
</body>


</html>